/* Import custom css file 
@import url("custom.css"); 

Custom ICON for the tab:
<link rel="icon" href="file://E:/Angel/Mega/Uni/Fisica/TFG/JavaScript_EJS_6.0/workspace/source/img/icon.ico"/> */ 

body{
  background-color:#252525; /* Dark theme background color previous color:(333739)*/
  color:white;
}

.Title{
  text-align: center;
  color:rgb(0, 117, 255);
  font-size: 135%;
  font-weight: 750;
  font-family: Arial;
  padding-bottom: 10px;
    
} /* This is only to check if this file is being read. Must be deleted*/
  
.view3D{
  display: inline-block;
  width: 80%;

}
  
.whiteValue{
  padding-left:10px;
  width: 45px; 
  background: white;
  border: none;  
  border-radius: 5px;
  text-align: center;
  -moz-appearance: textfield;

}

.verticalSlider{
  border-radius: 5px;
  outline: none;
  transform: rotate(270deg);
  padding: 0px;
}

.settingsTitle{
  display: inline-block;
  align: center;
  color: rgb(0, 117, 255); 
  margin: 0; 
  padding: 0.2em; 
  font-weight: 550;
  font-size: 90% !important
}

.PIDcol{
  width: 25%;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: auto;
  color: white;
}

.PIDSlider{
  display: block;
  width: 150px;
  
}

.paddedButton{
  padding: 0px 10px 0px 0px;
}

.controlPanel{
  background-color:  #424242;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textWhite{
  color:white;
  padding-left: 10px;
  padding-right: 10px;
}

.tabTabbed {
  width: auto;
  height: auto;
  background-color: #424242;
  color: rgb(0, 117, 255);
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 0px 10px 10px 10px;
}



/* Modified styles from ejss.css 

NOTE: it´s neccesary to delete its analogous atribute in "ejss.css" in order to work

*/
._TabbedPanel\.a { 
  user-select: none;
  display: inline-block; 
  color: rgb(0, 140, 255);
  background-color: #5b7bd3;
  border: #ccc;
  text-align: center; 
  padding: 7px 8px; 
  text-decoration: none; 
  transition: 0.3s;  
  font-size: 80%; 
  font-weight: 550; 
} /* .a is for the text of the Tabs */

